* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}


.header {
    background: #043487;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* fade-in */
    animation: fadeIn 10s ease-in-out;
}

.logo {
    font-weight: bold;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: white;
    font-size: 1.4rem;


    
    transition: color 0.3s ease-in, transform 0.3s ease;
}

.nav :hover {
    color: #0c9ce9;
    transform: scale(1.1);
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    animation: slideUp 0.9s ease-out;
}

.hero-text h1 {
    font-size: 40px;
    transition: color 0.3s ease;
}

.hero-text h1:hover {
    color: #bd1919;
}

.highlight {
    color: #c61b26;
    font-weight: bold;
}

.hero-img img {
    width: 200px;
    border-radius: 50%;
    transition: transform 0.4s ease;
}

.hero-img img:hover {
    transform: scale(1.05);
}


.about {
    padding: 40px;
    animation: fadeIn 1.3s ease-in-out;
}

.about h2 {
    margin-bottom: 10px;
}

/* SKILLS */
.skills {
    padding: 40px;
    animation: fadeIn 1.4s ease-in-out;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    background: #043487;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;

    transition: background 0.3s ease, transform 0.3s ease;
}

.skill-card:hover {
    background: #062f70;
    transform: translateY(-5px);
}


.projects {
    padding: 40px;
}

.project-card {
    background: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
    text-align: center;

    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transform: scale(1.02);
}


.contact {
    padding: 40px;
    text-align: center;
}

.contact-form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #043487;
    box-shadow: 0 0 8px rgba(4,52,135,0.4);
}

.contact-form button {
    padding: 10px;
    background: #043487;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: background 0.5s ease, transform 0.5s ease;
}

.contact-form button:hover {
    background: #062f70;
    transform: translateY(-3px);
}


.footer {
    background: #043487;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.back-top {
    display: block;
    text-align: center;
    background: #003176;
    padding: 10px;
    color: white;
    text-decoration: none;

    transition: background 0.5s ease;
}

.back-top:hover {
    background: #062f70;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        
        transform: translateY(25px);
        opacity: 0;



       }
    to {
        opacity: 1;
        transform: translateY(0);
           }

       }
